$Inter: 'Inter', sans-serif;
$Manrope: 'Manrope', sans-serif;
$xxl : 1920px;
$xl: 1400px;
$lg:1024px;
$md: 768px;
$med: 767px;
$sm:360px;
$bg-blue:#f5f8fa;
$black:#1a1a1a;
$light-gray:#ECEFF8;
$light-blue-hover:#e2eefc;
$light-blue-press:#DAE8FA;
$light-blue-default: #edf5fe;
$blue:#4092F1;
$white:#fff;
$green:#64B847;
$light-green: #F0F7EE;
$orange:#EC7B52;
$darkGrey: #6A727B;
$light-persic:#F7EEEE;
$persic:#E16A6A;
$red: #ED5858;